@model LibraryApp.Models.Catalog.AssetIndexModel;

<div id="assets">
    <h3>Library Catalog</h3>>
    <div id="assetsTable">
        <table class="table table-condensed" id="catalogIndexTable">

            <thead>
                <tr>
                    <td>Image</td>
                    <td>Title</td>
                    <td>Author / Director</td>
                    <td>Dewy Call Number</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var asset in Model.Assets)
                {
                    <tr>
                        <td class="">
                            <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.Id">
                                <img src="@asset.ImageUrl" class="ImageCell"/>
                            </a>
                        </td>
                        <td class="">@asset.Title</td>
                        <td class="">@asset.AuthorOrDirector</td>
                        <td class="">@asset.DeweyCallNumber</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>